<h1>TOOO Style The Customers Show Page </h1>
<h1>TOOO Push To Git and Heroku </h1>
<h1>TOOO Test Create User </h1>
<h1>TOOO  Test Login</h1>
<h1>TODO Create Burger </h1>
<h1>TODO be able to search Customers, give refund right to customer</h1>